<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allenliu.floatview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FloatViewDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册来电秀receiver-->
        <receiver android:name="com.allenliu.floatview.CallShowReceiver">

            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="com.allenliu.floatview.REGISTER_CALLSHOW"></action>
            </intent-filter>

        </receiver>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>